[submodule "furry-octo-nemesis"]
	path = furry-octo-nemesis
	url = git@github.com:abhilashchowdhary/furry-octo-nemesis.git
[submodule "scaling-octo-wallhack"]
	path = scaling-octo-wallhack
  url = git@github.com:abhilashchowdhary/scaling-octo-wallhack.git
  ignore = all
